{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Detail</th>
                <th>Level</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.ref }}</td>
                <td>{{ course.detail }}</td>
                <td>{{ course.level }}</td>
                <td>{{ course.title }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_visible_course_new') }}" class="btn btn-primary">Affecter une formation</a>
    <a href="{{ path('app_course_new') }}" class="btn btn-primary">Ajouter une formation</a>
{% endblock %}
