{% extends 'base.html.twig' %}

{% block title %}Survey index{% endblock %}

{% block body %}
    <h1>Survey index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Detail</th>
                <th>Difficulty</th>
                <th>QuestionTimer</th>
                <th>Ordered</th>
                <th>DeleteDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.id }}</td>
                <td>{{ survey.ref }}</td>
                <td>{{ survey.detail }}</td>
                <td>{{ survey.difficulty }}</td>
                <td>{{ survey.questionTimer }}</td>
                <td>{{ survey.ordered ? 'Yes' : 'No' }}</td>
                <td>{{ survey.deleteDate ? survey.deleteDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_survey_show', {'id': survey.id}) }}">show</a>
                    <a href="{{ path('app_survey_edit', {'id': survey.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_survey_new') }}">Create new</a>
{% endblock %}
