{% extends 'base.html.twig' %}

{% block title %}Liste des questionnaires{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Liste des questionnaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Details</th>
                <th>Difficulté</th>
                <th>Temps par question</th>
                <th>Ordre des questions</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Date de suppression</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.ref }}</td>
                <td>{{ survey.detail }}</td>
                <td>{{ survey.difficulty }}</td>
                <td>{{ survey.questionTimer }}</td>
                <td>{{ survey.ordered ? 'Ordoné' : 'Aléatoire' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ survey.deleteDate ? survey.deleteDate|date('d-m-Y H:i') : '-' }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_survey_show', {'id': survey.id}) }}">Détails</a>
                    <a href="{{ path('app_survey_edit', {'id': survey.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
