{% extends './candidateSurvey/index.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <section id="header">
        <h1 class="h1 mb-3 font-weight-normal text-center pt-2">Test de recrutement</h1>
        <div id="surveyInfo" class="d-flex justify-content-between align-items-center">
            <div class="detail">
                <p>Centre : {{ survey.course.user.userName }}</p>
                <p>Formation : {{ survey.course.title }}</p>
                <p>Candidat : {{ candidate.lastName }} {{ candidate.firstName }} </p>
            </div>
            <div id="timer">
                {{ survey.questionTimer }}
            </div>
        </div>
    </section>
    <section>
        <h2 class="h2 mb-3 font-weight-normal text-center pt-2">Question :</h2>
        {% if question.imgFileName %}
        <div id="question" class="flex">
            <div>
                {{ question.question | raw }}
            </div>
            <div class="questionImg">
                <img src="{{ asset('./surveyQuestion_img/'~question.imgFileName) }}" alt="test">
            </div>
        </div>
        {% else %}
        <div id="question">
            <p>{{ question.question| raw }}</p>
            {% endif %}
        </div>

    </section>

    <section id="answerContainer">
        <h2 class="h2 mb-3 font-weight-normal text-center pt-2">Réponses :</h2>

        <div id="answers" class="flex">
            {% for answer in answers %}
                <div id="{{ answer.id }}" class="card flex answers">
                    {{ answer.value| raw }}
                </div>
            {% endfor %}


        </div>
        <form action="{{ path('app_survey_next') }}" name="formSurvey" method="post">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Valider</button>
                <input name="candidateAnswer" type="text" style="display:none">
            </div>
        </form>
    </section>

    {% block javascripts %}
        {{ encore_entry_script_tags('candidateJs') }}
    {% endblock %}
{% endblock %}