{% extends 'base.html.twig' %}

{% block title %}Fiche {{ candidate }}{% endblock %}

{% block body %}
    <section id="candidateDetail">
        <h1 class="h1 mb-3 font-weight-normal text-center">Fiche de  {{ candidate }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Nom de famille</th>
                <td>{{ candidate.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ candidate.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a></td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ candidate.phone }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row d-flex justify-content-end">
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-primary mx-2" title="Retour"
                   href="{{ path('app_candidate_index') }}"><i class="fa-solid fa-delete-left"></i></a>
                <a class="btn btn-info mx-2" title="Modifier"
                   href="{{ path('app_candidate_edit', {'id': candidate.id}) }}"><i class="fa-solid fa-user-pen"></i></a>
                {{ include('candidate/_delete_form.html.twig') }}
            </div>
         </div>
    </section>
{% endblock %}
